# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nb-configuration.xml

## Gradle specific
.gradle
gradle
gradle/wrapper

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

  
#windows Junk
*.ini
[Tt]humbs.db
*.DS_Store