# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nb-configuration.xml

## Gradle specific
.gradle
gradle

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

 
 
 
